{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h1>{% trans 'Login' %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              {{ form.username.label }}
              {{ form.username }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              {{ form.password.label }}
              {{ form.password }}
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">{% trans 'Login' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
